@import url('https://fonts.googleapis.com/css2?family=Kodchasan&display=swap');

$primary-font: 'Kodchasan', sans-serif;

$color-background: black;
$color-dark-grey: rgb(81, 79, 79);
$color-yellow: rgb(222, 203, 54);
$color-pink: rgb(203, 154, 178);
$color-grey-green: rgb(158, 215, 158);
$color-green: rgb(77, 177, 72);
$color-red: rgb(156, 43, 43);
$color-orange:rgb(208, 139, 90);
$color-blue: rgb(90, 148, 214);
$color-light-green: rgb(190, 203, 98);
$color-grey: rgb(167, 141, 141);
$color-white: rgb(196, 197, 205);

